<template>
 <header class="background-main-color">
		<div class="container">
			<div class="header-output">
				<div class="header-in">
					<div class="row">
						<div class="col-lg-2 col-md-12">
              <nuxt-link to="/" class="d-inline-block margin-tb-5px">
                <img src="~static/img/logo-small.png" alt="">
              </nuxt-link>
							<a class="mobile-toggle padding-13px background-main-color" href="#"><i class="fas fa-bars"></i></a>
						</div>
						<div class="col-lg-8 col-md-12 position-inherit">
							<ul id="menu-main" class="white-link dropdown-dark text-lg-center nav-menu link-padding-tb-17px">
								
                <li class="has-dropdown">
                   <nuxt-link to="/">Home</nuxt-link> 
								</li>
								<li class="has-dropdown">
                   <nuxt-link to="/foods">Foods</nuxt-link> 
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
	</header>
</template>

<script>
export default {

}
</script>

<style>
header ul.white-link > li > a.nuxt-link-exact-active{
/* header ul.white-link > li > a.nuxt-link-active { */
	color: rgb(72, 245, 3);
}

</style>
