<template>
<div>
  <div id="page-title" class="padding-tb-30px gradient-white">
		<div class="container text-left">
			<ol class="breadcrumb opacity-5">
				<li><a href="#">Home</a></li>
				<li class="active">recipes</li>
			</ol>
			<h1 class="font-weight-300">{{$route.params.recipesKey}} Recipes</h1>
		</div>
	</div>
  <div class="container">
		<div class="margin-bottom-60px">
			<div class="listing-search box-shadow">
				<form  @submit.prevent="serachRecipes()" class="row no-gutters">
					<div class="col-md-8">
						<div class="keywords">
							<input  v-model="recipesName" class="listing-form first" type="text" placeholder="Keywords..." value="">
						</div>
					</div>
					<!-- <div class="col-md-4">
						<div class="categories dropdown">
							<a class="listing-form d-block text-nowrap" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Categories</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
								<button class="dropdown-item text-up-small" type="button">Fish</button>
								<button class="dropdown-item text-up-small" type="button">Cocktails</button>
								<button class="dropdown-item text-up-small" type="button">Salads</button>
								<button class="dropdown-item text-up-small" type="button">Asian</button>
								<button class="dropdown-item text-up-small" type="button">Fish</button>
								<button class="dropdown-item text-up-small" type="button">Cocktails</button>
								<button class="dropdown-item text-up-small" type="button">Salads</button>
								<button class="dropdown-item text-up-small" type="button">Asian</button>
							</div>
						</div>
					</div> -->
					<div class="col-md-4">
						<input type="submit" class="listing-bottom background-second-color box-shadow btn-submit" >
					</div>
				</form>
			</div>
		</div>
	</div>
 <section>
   <div class="container margin-bottom-100px" v-if="isShow">
    <div class="row">
        <div v-for="item in items" class="col-lg-6 margin-bottom-30px" >
            <item :info="item" />
        </div>
    </div>
   </div>
		<div class="container margin-bottom-100px" v-else>
			<h1>Sorry! we did not find any <span style="color: #f44336 ">{{$route.params.recipesKey}}</span> Recipes.</h1>
		</div>
 </section>

  
  
</div>
</template>

<script>
import axios from 'axios'
import item from '@/components/item/recipeItem'
export default {
  asyncData(context) {
	console.log('context', context)
      return axios.get(context.env.recipeBaseUrl+'?q='+ context.params.recipesKey + '&app_id=87dc6b39&app_key=21b0439f73d40762540d12bb2dcccc9d&from=0&to=100')
        .then(res => {
          // console.log('response from api:', res.data.hits)
          if(res.status == 200) {
						if(res.data.hits.length > 0) {
								return {
									items: res.data.hits,
									recipesName: context.params.recipesKey,
									isShow: true
								}
						} else {
							return {
									recipesName: context.params.recipesKey,
									isShow: false
							}
						}
          } else {
						context.error(error)
						return {
								isShow: false
						}
          }
        })
        .catch(error => {
            context.error(error)
        }) 
	},
	scrollToTop: true,
		data() {
			return {
				recipesName: '',
				isShow: false
			}
		},
		methods: {
			serachRecipes() {
				if(this.recipesName.trim().length > 0) {
					this.$router.push(`/recipe/${this.recipesName}`)
				} else {
					alert('Please enter valid data.')
				}
			}
		},
		components: {
			item
		}
}
</script>

<style>

</style>
