<template>
  <h1>recip page</h1>
</template>

<script>
export default {
  beforeCreate() {
    if(this.$router.params == null) {
      this.$router.push('/')
    }
  },
}
</script>

<style>

</style>
