.ba-1 {
  background-color: #484646; }

.ba-2 {
  background-color: #6a6969; }

.ba-3 {
  background-color: #fef1f4; }

.ba-4 {
  background-color: #2962FF; }

/*--- Global Background ---*/
.background-main-color {
  background-color: #f44336; }

.background-second-color {
  background-color: #6a6969; }

/*--- Text Color ---*/
.text-main-color {
  color: #f44336; }

.text-second-color {
  color: #6a6969; }

/*--- Border Main Color ---*/
.border-main-color {
  border-color: #f44336 !important; }

.border-second-color {
  border-color: #6a6969 !important; }

ul.pagination.color li a {
  background-color: #f44336; }

ul.pagination.color-1 li a {
  background-color: #6a6969; }

a.btn-outline-primary {
  border-color: #f44336;
  color: #f44336; }
  a.btn-outline-primary:hover {
    background-color: #f44336; }

section .section-title h1 span {
  color: #f44336; }

.owl-theme .owl-controls .owl-page span {
  border: 1px solid #f44336; }

.widget h4.widget-title {
  color: #f44336; }

.widget.widget_nav_menu ul li a:before,
.widget.widget_recent_entries ul li a:before,
.widget.widget_recent_comments ul li a:before,
.widget.widget_archive ul li a:before,
.widget.widget_categories ul li a:before,
.widget.widget_meta ul li a:before,
.widget.widget_rss ul li a:before {
  color: #f44336; }

h4.table-title {
  color: #f44336; }

.nav-tabs-2 .nav-link {
  background-color: #f44336; }

.timeline-item .date:before {
  color: #f44336; }

header a.model-link span {
  background-color: #f44336; }

header ul.nav-menu > li.active > a {
  color: #f44336; }
header ul.nav-menu > li > a:hover {
  color: #f44336; }

.mega-links-4columns ul.sub-menu-columns > li > a {
  color: #f44336; }

header a.model-link span {
  background-color: #f44336; }

.btn-submit {
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */
