<template>
  <div class="background-white thum-hover box-shadow hvr-float full-width">
    <div class="row no-gutters">
      <div class="col-lg-6">
          <div class="float-md-left thum-xs">
            
              <clazy-load :src="info.food.image"  v-if="info.food.image != null">
                <img class="width-250px" :src="info.food.image" alt="">
                <div class="preloader" slot="placeholder">
                    <img src="~static/img/loader-main.gif" style="width: 100px;">
                  </div>
              </clazy-load>
          
            <img v-else class="width-250px" src="~static/img/no-image.jpg" alt="">
            
          </div>        
      </div>
       <div class="col-lg-6">
         <div class="padding-25px">
      <h3>
             {{info.food.label}}
      </h3>
      <p class="mb0"><strong>Category:</strong> {{info.food.category}}</p>
      <p><strong>Brand:</strong> {{info.food.brand != null ? info.food.brand : 'not available'}}</p>
      <hr>
      <ul class="pl20">
        <li v-for="(info, key) in info.food.nutrients"><strong>{{key}}:</strong> {{info | decimalOne}}</li>
      </ul>
    </div>
    <div class="clearfix"></div>
       </div>
    </div>

    
  </div>
</template>

<script>
import { VueClazyLoad } from 'vue-clazy-load'
export default {
  props: {
    info: ''
  },
  components: {
    'clazy-load' : VueClazyLoad
  },
  methods: {
    getRecipeInfo(value) {
      this.router
    }
  },
   filters: {
    decimalOne (value) {
      if (!value) {
        return ''
      } else {
        return value.toFixed(1)
      }
    }
  }

}
</script>

<style scoped>
  .mb0 {
    margin-bottom: 0;
  }
  .pl20 {
    padding-left: 20px;
  }
</style>
