<template>
  <div class="background-white thum-hover box-shadow hvr-float full-width">
    <div class="float-md-left margin-right-30px thum-xs">
       <clazy-load :src="info.recipe.image">
        <img class="width-250px" :src="info.recipe.image" alt="">
        <div class="preloader" slot="placeholder">
            <img src="~static/img/loader-main.gif" style="width: 100px;">
          </div>
       </clazy-load>
    </div>
    <div class="padding-25px">
      <h3>
        <nuxt-link :to="{path : '/recipe/recipesDetails/', query: { id: `${info.recipe.uri}` }}" class="d-block text-dark text-capitalize text-medium margin-tb-15px"  style="cursor: pointer">
             {{info.recipe.label}}
        </nuxt-link>
      </h3>
      <hr>
      <div class="row no-gutters">
        <div class="col-12 text-left">
          <p class="mb0"><strong>Energy: </strong>{{info.recipe.calories | decimalTwo}} kcal</p>  
          <p class="mb0"><strong>Weight: </strong>{{info.recipe.totalWeight | decimalTwo}} g</p>  
          <p ><strong>Diet: </strong> {{info.recipe.dietLabels[0]}} </p>  
        </div>
        <div class="col-12 text-left"><a href="#" class="text-grey-2"><i class="fas fa-users"></i> {{info.recipe.yield}} servings</a></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</template>

<script>
import { VueClazyLoad } from 'vue-clazy-load'
export default {
  props: {
    info: ''
  },
  components: {
    'clazy-load' : VueClazyLoad
  },
  methods: {
    getRecipeInfo(value) {
      this.router
    }
  },
   filters: {
    decimalTwo (value) {
      if (!value) {
        return ''
      } else {
        return value.toFixed(2)
      }
    }
  }

}
</script>

<style scoped>
  .mb0 {
    margin-bottom: 0;
  }
</style>
