<template>
<div>
  <!-- root div start -->
  <div class="banner padding-tb-20px background-overlay" style="background-image: url('img/food-background.jpg');">
		<div class="container">

			<div class="padding-tb-120px z-index-2 position-relative">
				<div class="text-center">
					<h3 class="text-white icon-large font-weight-100">Discover the nutritional information of 700,000+ foods!</h3>
				</div>
				<div class="margin-top-45px">
					<div class="row justify-content-center margin-tb-60px">
						<div class="col-lg-8">
							<div class="listing-search">
								<form class="row no-gutters" @submit.prevent="searchFoods()">
									<div class="col-md-8">
										<div class="keywords">
											<input v-model="searchKey" class="listing-form first" type="text" placeholder="Serach foods keywords..." value="">
										</div>
										
									</div>
									<!-- <div class="col-md-4">
										<div class="categories dropdown">
											<a class="listing-form d-block text-nowrap" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Categories</a>
											<div class="dropdown-menu" aria-labelledby="dropdownMenu2" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 47px, 0px); top: 0px; left: 0px; will-change: transform;">
												<button class="dropdown-item text-up-small" type="button">Fish</button>
												<button class="dropdown-item text-up-small" type="button">Cocktails</button>
												<button class="dropdown-item text-up-small" type="button">Salads</button>
												<button class="dropdown-item text-up-small" type="button">Asian</button>
												<button class="dropdown-item text-up-small" type="button">Fish</button>
												<button class="dropdown-item text-up-small" type="button">Cocktails</button>
												<button class="dropdown-item text-up-small" type="button">Salads</button>
												<button class="dropdown-item text-up-small" type="button">Asian</button>
											</div>
										</div>
									</div> -->
									<div class="col-md-4">
										<input  type="submit" class="listing-bottom background-second-color box-shadow btn-submit"/>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //container  -->
	</div>
  <div class="pull-top-85px">
		<div class="container">
			<div class="row">
				<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
					<nuxt-link to="/foods/fish" style="cursor: pointer" class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="~static/img/cat-1.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Fish</h4>
					</nuxt-link>
				</div>
				<div  class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
					<nuxt-link  to="/foods/Cocktail" style="cursor: pointer"  class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="~static/img/cat-2.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Cocktails</h4>
					</nuxt-link>
				</div>
        <div   class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
					<nuxt-link  to="/foods/Egg" style="cursor: pointer" class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="~static/img/cat-3.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Eggs</h4>
					</nuxt-link>
				</div>
				<div  class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
        <nuxt-link  to="/foods/Salad" style="cursor: pointer" class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="~static/img/cat-4.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Salads</h4>
					</nuxt-link>
				</div>
				<div   class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
					<nuxt-link  to="/foods/Asian" style="cursor: pointer"  class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="~static/img/cat-5.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Asian</h4>
					</nuxt-link>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
					<nuxt-link  to="/foods/Pizza" style="cursor: pointer"  class="d-block box-shadow background-main-color text-white hvr-float">
						<div class="thum"><img src="~static/img/cat-6.jpg" alt=""></div>
						<h4 class="text-center padding-15px">Pizza</h4>
					</nuxt-link>
				</div>
			</div>
		</div>
	</div>

  <!-- root div end -->
</div>
</template>

<script>
export default {
  data() {
    return {
      searchKey: ''
    }
  },
  methods: {
    searchFoods () {
			if(this.searchKey.trim().length > 0) {
				this.$router.push(`/foods/${this.searchKey}`)
			} else {
				alert('Please enter valid data.')	
			}
    }
  },
  head: {
		title: 'Cook Book | Foods'
	}
}
</script>

<style>

</style>
