<template>
<div>
  <div id="page-title" class="padding-tb-30px gradient-white">
		<div class="container text-left">
			<ol class="breadcrumb opacity-5">
				<li><a href="#">Home</a></li>
				<li class="active">Food</li>
			</ol>
			<h1 class="font-weight-300">{{$route.params.foodId}} Recipes</h1>
		</div>
	</div>
  <div class="container">
		<div class="margin-bottom-60px">
			<div class="listing-search box-shadow">
				<form class="row no-gutters"  @submit.prevent="searchFoods()">
					<div class="col-md-8">
						<div class="keywords">
							<input v-model="searchKey" class="listing-form first" type="text" placeholder="Enter food name" value="">
						</div>
					</div>
					<!-- <div class="col-md-4">
						<div class="categories dropdown">
							<a class="listing-form d-block text-nowrap" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Categories</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
								<button class="dropdown-item text-up-small" type="button">Fish</button>
								<button class="dropdown-item text-up-small" type="button">Cocktails</button>
								<button class="dropdown-item text-up-small" type="button">Salads</button>
								<button class="dropdown-item text-up-small" type="button">Asian</button>
								<button class="dropdown-item text-up-small" type="button">Fish</button>
								<button class="dropdown-item text-up-small" type="button">Cocktails</button>
								<button class="dropdown-item text-up-small" type="button">Salads</button>
								<button class="dropdown-item text-up-small" type="button">Asian</button>
							</div>
						</div>
					</div> -->
					<div class="col-md-4">
						<input type="submit" class="listing-bottom background-second-color box-shadow btn-submit" >
					</div>
				</form>
			</div>
		</div>
	</div>
 <section>
   <div class="container margin-bottom-100px" v-if="isShow">
    <div class="row">
        <div v-for="item in items" class="col-lg-6 margin-bottom-30px" >
            <item :info="item" />
        </div>
    </div>
   </div>
   	<div class="container margin-bottom-100px" v-else>
			<h1>Sorry! we did not find any <span style="color: #f44336 ">{{$route.params.foodId}}</span> Foods.</h1>
		</div>
 </section>

  
  
</div>
</template>

<script>
import axios from 'axios'
import item from '@/components/item/foodItem'
export default {
  asyncData(context) {
      return axios.get(context.env.foodBaseUrl+'?ingr=' + encodeURIComponent(context.params.foodId) +'&app_id=d18c01d3&app_key=131ee9573b7da583e64d47faf7a7670b&from=0&to=100')
        .then(res => {
          console.log('response from api:', res)
          if(res.status == 200) {
            if(res.data.hints.length > 0) {
              return {
                items: res.data.hints,
                searchKey: context.params.foodId,
                isShow: true
              }
            } else {
              return {
                isShow: false,
                searchKey: context.params.foodId
              }
            }
          } else {
            context.error(error)
            return {
								isShow: false
						}
          }
        })
        .catch(error => {
            context.error(error)
        }) 
  },
  data() {
    return {
      searchKey: '',
      isShow: false
    }
  },
  methods: {
    searchFoods () {
      if(this.searchKey.trim().length > 0) {
        this.$router.push(`/foods/${this.searchKey}`)
      } else {
        alert('Please enter valid data.')	
      }
    }
  },
  components: {
    item
  },
  head: {
		title: 'Cook Book | Foods'
	}
}
</script>

<style>

</style>
