<template>
  <div>
    <MainMenu/>
    <transition name="router-anim" appear>
      <nuxt/>
    </transition>
    <Footer/>
  </div>
</template>

<script>
import MainMenu from '@/components/header/MainMenu'
import Footer from '@/components/footer/footer'
export default {
  components: {
    MainMenu,
    Footer
  }
}
</script>

<style scoped>
.router-anim-enter-active {
  animation: coming 0.5s;
  animation-delay: 0s;
  opacity: 0;
}
.router-anim-leave-active {
  animation: going 0s;
}

@keyframes going {
  from {
   opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes coming {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
