<template>
  <div class="container margin-bottom-100px">
    <div id="page-title" class="padding-tb-30px gradient-white">
		<div class="container text-center">
			<ol class="breadcrumb opacity-5">
				<li><a href="#">Home</a></li>
				<li class="active">404 page</li>
			</ol>
		</div>
	</div>
		<div class="text-center">
			<img src="~static/img/404.png" alt="">
			<h3 class="text-center">Page Not Fount</h3>
			<h4 class="text-center text-grey-2">Ooops! The page you are looking for, couldn't be found.</h4>

			<nuxt-link to="/" class="btn btn-sm border-radius-30 margin-tb-15px text-white background-second-color  box-shadow padding-lr-25px margin-left-30px"><i class="fas fa-home  margin-right-7px"></i>  Go Home</nuxt-link>
		</div>
	</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
