<template>
<div>
<div class="banner padding-tb-20px background-overlay" :style="{ backgroundImage: 'url(img/banner_1.jpg)' }">
		<div class="container">

			<div class="padding-tb-120px z-index-2 position-relative">
				<div class="text-center">
					<h1 class="text-white pull-l icon-large font-weight-500 margin-bottom-40px">+20,000</h1>
					<h3 class="text-white icon-large font-weight-100">Cooking Recipes</h3>
				</div>
				<div class="margin-top-45px">
					<div class="row justify-content-center margin-tb-60px">
						<div class="col-lg-8">
							<div class="listing-search">
								<form @submit.prevent="serachRecipes()" class="row no-gutters">
									<div class="col-md-8">
										<div class="keywords">
											<input v-model="recipesName" class="listing-form first" type="text" placeholder="Keywords..." value="">
										</div>
									</div>
									<!-- <div class="col-md-4">
										<div class="categories dropdown">
											<a class="listing-form d-block text-nowrap" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Categories</a>
											<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
												<button class="dropdown-item text-up-small" type="button">Fish</button>
												<button class="dropdown-item text-up-small" type="button">Cocktails</button>
												<button class="dropdown-item text-up-small" type="button">Salads</button>
												<button class="dropdown-item text-up-small" type="button">Asian</button>
												<button class="dropdown-item text-up-small" type="button">Fish</button>
												<button class="dropdown-item text-up-small" type="button">Cocktails</button>
												<button class="dropdown-item text-up-small" type="button">Salads</button>
												<button class="dropdown-item text-up-small" type="button">Asian</button>
											</div>
										</div>
									</div> -->
									<div class="col-md-4">
										<input type="submit" class="listing-bottom background-second-color box-shadow btn-submit" >
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
   
		<!-- //container  -->
	</div>
	 <div class="pull-top-85px">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
						<nuxt-link to="/recipe/Fish"  class="d-block box-shadow background-main-color text-white hvr-float">
							<div class="thum"><img src="~static/img/cat-1.jpg" alt=""></div>
							<h4 class="text-center padding-15px">Fish</h4>
						</nuxt-link>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
						<nuxt-link to="/recipe/Cocktail"  class="d-block box-shadow background-main-color text-white hvr-float">
							<div class="thum"><img src="~static/img/cat-2.jpg" alt=""></div>
							<h4 class="text-center padding-15px">Cocktails</h4>
						</nuxt-link>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
						<nuxt-link to="/recipe/Egg"  class="d-block box-shadow background-main-color text-white hvr-float">
							<div class="thum"><img src="~static/img/cat-3.jpg" alt=""></div>
							<h4 class="text-center padding-15px">Eggs</h4>
						</nuxt-link>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
						<nuxt-link to="/recipe/Salad"  class="d-block box-shadow background-main-color text-white hvr-float">
							<div class="thum"><img src="~static/img/cat-4.jpg" alt=""></div>
							<h4 class="text-center padding-15px">Salads</h4>
						</nuxt-link>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
						<nuxt-link to="/recipe/Asian"  class="d-block box-shadow background-main-color text-white hvr-float">
							<div class="thum"><img src="~static/img/cat-5.jpg" alt=""></div>
							<h4 class="text-center padding-15px">Asian</h4>
						</nuxt-link>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
						<nuxt-link to="/recipe/Pizza"  class="d-block box-shadow background-main-color text-white hvr-float">
							<div class="thum"><img src="~static/img/cat-6.jpg" alt=""></div>
							<h4 class="text-center padding-15px">Pizza</h4>
						</nuxt-link>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
						<nuxt-link to="/recipe/Indian"  class="d-block box-shadow background-main-color text-white hvr-float">
							<div class="thum"><img src="~static/img/cat-indian.jpg" alt=""></div>
							<h4 class="text-center padding-15px">Indian</h4>
						</nuxt-link>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
						<nuxt-link to="/recipe/chinese"  class="d-block box-shadow background-main-color text-white hvr-float">
							<div class="thum"><img src="~static/img/cat-chiness.jpg" alt=""></div>
							<h4 class="text-center padding-15px">chinese</h4>
						</nuxt-link>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
						<nuxt-link to="/recipe/Burger"  class="d-block box-shadow background-main-color text-white hvr-float">
							<div class="thum"><img src="~static/img/cat-burger.jpg" alt=""></div>
							<h4 class="text-center padding-15px">Burger</h4>
						</nuxt-link>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
						<nuxt-link to="/recipe/ice%20cream"  class="d-block box-shadow background-main-color text-white hvr-float">
							<div class="thum"><img src="~static/img/cat-ice-cream.jpg" alt=""></div>
							<h4 class="text-center padding-15px">ice cream</h4>
						</nuxt-link>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
						<nuxt-link to="/recipe/Chicken"  class="d-block box-shadow background-main-color text-white hvr-float">
							<div class="thum"><img src="~static/img/cat-chicken.jpg" alt=""></div>
							<h4 class="text-center padding-15px">Chicken</h4>
						</nuxt-link>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-6 sm-mb-25px" style="position: relative; z-index: 9">
						<nuxt-link to="/recipe/Italian"  class="d-block box-shadow background-main-color text-white hvr-float">
							<div class="thum"><img src="~static/img/cat-italian.jpg" alt=""></div>
							<h4 class="text-center padding-15px">Italian</h4>
						</nuxt-link>
					</div>
				</div>
			</div>
		</div>
</div>
</template>

<script>
export default {
	data() {
		return {
			recipesName: ''
		}
	},
  methods: {
    serachRecipes() {
			if(this.recipesName.trim().length > 0) {
				this.$router.push(`/recipe/${this.recipesName}`)
			} else {
				alert('Please enter valid data.')
			}
    }
	}
}
</script>


